<!---------------------ABOUT----------------------->
<section id="about" class="pt-130">
    <div class="about_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="about_content pt-120 pb-130">
              <div class="section_title pb">
                <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">About OurCreative Proccess</h4>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s" style="text-align: justify; font-size: 15px;">Medic medic center is a private health facility present 
                  in city of Milan since 2000. We offer the services in various branches of specialist outpatient diagnostics where it possible 
                  to carry out sampling and clinical analyses, visits and diagnostic investigations or continue clinical care paths started in 
                  the hospital. The medical center has an agreement with the national health services from the year of the start of the 
                  activity and also have agreements with funds, insurance companies and companies. At the time of booking, it will be possible 
                  to check the condition of our agreement. You have the ability to book any visits and laboratory analysis through online</p>
                
              </div> 
              <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Learn More</a>
            </div> 
          </div>
        </div> 
      </div> 
      <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s" style="background-image: url(assets/images/abouttt.png)">
        <div class="image_content">
         <h4 class="experience"><span>21</span> Years of Experience</h4>
         </div>
      </div> 
    </div>
  </section>