<!---------------------SERVICES-----------------------
<section id="services" class="features_area pt-120 pb-200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center pb-25">
            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Our Services</h4>
            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
          </div> 
        </div>
      </div> 
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <i class="lni lni-briefcase"></i>
            <h4 class="features_title">Digital Business</h4>
            <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .</p>
          </div> 
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
            <i class="lni lni-clipboard"></i>
            <h4 class="features_title">Startup Business</h4>
            <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .</p>
          </div> 
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <i class="lni lni-target-revenue"></i>
            <h4 class="features_title">Business Investment</h4>
            <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .</p>
          </div> 
        </div>
      </div> 
    </div> 
  </section>-->

<section id="services" class="features_area pt-120 pb-200">
    <div class="container text-center">
      <h2 class="text-uppercase lined lined-center">Our  <span class="text-danger">Services</span></h2>
      <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel velit auctor aliquetenean.</p>
      <div class="row">
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-danger py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Qualified Facilities</h2>
                  <div class="services-icon my-4"><i class="fas fa-procedures fa-2x"></i></div>
                  <p class="services-item-text text-small mb-0" style="text-align: center;">In the hospital anxiety and discomfort can increase. This is why we try to offer you services that make you stay more comfortable.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-danger py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Top Level Doctors</h2>
                  <div class="services-icon my-4"><i class="fas fa-user-md fa-2x"></i></div>
                  <p class="services-item-text text-small mb-0" style="text-align: center;">We provide best care in various fields including anaesthetics, emergency medicine, general medicine, obstetrics, surgery and trauma and orthopaedics.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-danger py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Dedicated Patient Care</h2>
                  <div class="services-icon my-4"><i class="fas fa-notes-medical fa-2x"></i></div>
                  <p class="services-item-text text-small mb-0" style="text-align:center;">When it is necessary for you to reside at hospital for medical treatment you can be assured of receiving a professional and caring service.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-danger py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">24/7 Emergency</h2>
                  <div class="services-icon my-4"><i class="fas fa-ambulance fa-2x"></i></div>
                  <p class="services-item-text text-small mb-0" style="text-align: justify;">You can receive emergency care 24/7 calling our hotline 2222222.</p>
                </div>
              </div>
            </div>
      </div>
    </div>
</section>